<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC38xC_KLLM9-RGfmLdmA8MWd686mI5JkY</string>
	<key>GCM_SENDER_ID</key>
	<string>1079949704264</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.j1.currencyConverter</string>
	<key>PROJECT_ID</key>
	<string>currency-converter-test-f28cf</string>
	<key>STORAGE_BUCKET</key>
	<string>currency-converter-test-f28cf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1079949704264:ios:8be349108aa83924d62c7d</string>
</dict>
</plist>